.control-list {
  width: 100%;
}

.btn:hover {
  color: #fff;
  background-color: #565e64;
  border-color: #51585e;
}

.control-details {
  margin-bottom: 20px;
}

.details {
  margin-bottom: 8px;
}

.detail-label {
  font-weight: bold;
}

.grade-table {
  width: 100%;
  border-collapse: collapse;
}

.grade-table th, .grade-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.grade-table th {
  background-color: #624159;
  color: #fff;
  text-align: center;
}

.grade-table td {
  text-align: left;
}